<script>
    function updateAddButtonState() {
        if (document.querySelectorAll("#addresses .address-card").length >= 6) {
            document.querySelector("#picker-add").classList.add("hidden");
        } else {
            document.querySelector("#picker-add").classList.remove("hidden");
        }
    }
    function addAddress() {
        let inputBox = document.querySelector("#address-input-template .address-card").cloneNode(true);
        document.querySelector("#addresses").insertBefore(inputBox, document.querySelector("#address-add-button"));
        updateAddButtonState();
    }

    function removeAddress(removeButton) {
        removeButton.closest("article").remove();
        updateAddButtonState();
    }

    function showSearchButton() {
        document.querySelector("#picker-submit").classList.remove("hidden");
    }
</script>
<div id="address-input-template" class="hidden">
    {% include "address_input.html" %}
</div>
<form action="/results" method="GET" class="mx-auto" onchange="showSearchButton()" oninput="showSearchButton()">
    <div class="md:flex items-center">
        <div class="grid gap-4 grid-cols-1 md:grid-cols-3" id="addresses">
            {% if locations|length > 0 %}
            {% for location in locations %}
            {% include "address_input.html" %}
            {% endfor %}
            {% else %}
            {% include "address_input.html" %}
            {% endif %}
            <div id="address-add-button" class="flex items-center">
                <button type="submit" class="mr-3 card ~neutral !low rounded-full h-12 flex items-center hidden" id="picker-submit">
                    <span>Search...</span>
                </button>
                <button onclick="addAddress(); return false;" type="button" class="appearance-none" id="picker-add">+ Another address</button>
            </div>
        </div>
    </div>
</form>
<script>
    updateAddButtonState();
</script>